### 영화진흥위원회 Python 크롤링
- 공식문서 https://www.kobis.or.kr/kobisopenapi/homepg/apiservice/searchServiceInfo.do
- 요청변수
    - key(발급받은 키, 문자열)
    - targetDt(yyyymmdd)
    - intemPerPage(row 개수(최대 10), 문자열)
    - multiMovieYn : (상업영화 'N', 다양성영화 'Y')
    - repNationCd : (한국영화 'K', 외국영화 'F')
    - wideAreaCd : 상영지역별로 조회 (지역코드)
    
- 응답구조
    - boxofficeType :문자열	박스오피스 종류
    - showRange : 	문자열	박스오피스 조회 일자를 출력
    - rnum	문자열	순번을 출력
    - rank	문자열	해당일자의 박스오피스 순위를 출력
    - rankInten	문자열	전일대비 순위의 증감분을 출력
    - rankOldAndNew	문자열	랭킹에 신규진입여부를 출력
    - “OLD” : 기존 , “NEW” : 신규
    - movieCd: 문자열	영화의 대표코드를 출력
    - movieNm : 문자열	영화명(국문)을 출력
    - openDt : 문자열	영화의 개봉일을 출력
    - salesAmt : 문자열	해당일의 매출액을 출력
    - salesShare : 문자열	해당일자 상영작의 매출총액 대비 해당 영화의 매출비율을 출력
    - salesInten : 문자열	전일 대비 매출액 증감분을 출력
    - salesChange : 문자열	전일 대비 매출액 증감 비율을 출력
    - salesAcc : 문자열	누적매출액을 출력
    - audiCnt : 문자열	해당일의 관객수를 출력
    - audiInten : 문자열	전일 대비 관객수 증감분을 출력
    - audiChange : 문자열	전일 대비 관객수 증감 비율을 출력
    - audiAcc : 문자열	누적관객수를 출력합니다.
    - scrnCnt : 문자열	해당일자에 상영한 스크린수를 출력합
    - showCnt : 문자열	해당일자에 상영된 횟수를 출력
    
    url = f'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key={key}&targetDt={targetDt}

In [1]:
import requests
import pandas as pd
import numpy as np

# 일간 박스오피스
key = '835ee14ff09c53f948fd2cebdcd4a4b9'
targetDt = '20240305'
url = f'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key={key}&targetDt={targetDt}'

response = requests.get(url)
r_data = response.json() # json 형태로 출력
daily = pd.DataFrame(r_data['boxOfficeResult']['dailyBoxOfficeList'])
daily

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20234675,파묘,2024-02-22,1797110920,69.9,-177823966,-9,61779625945,190538,-17458,-8.4,6431691,2148,8294
1,2,2,0,OLD,20236295,듄: 파트2,2024-02-28,479006246,18.6,-49598120,-9.4,10048112806,40474,-3725,-8.4,905458,1091,3060
2,3,3,1,OLD,20247074,건국전쟁,2024-02-01,72466673,2.8,7609163,11.7,10328357653,8444,999,13.4,1108601,453,641
3,4,4,-1,OLD,20236180,웡카,2024-01-31,65350681,2.5,-18891912,-22.4,31863810236,6897,-1931,-21.9,3313680,586,1060
4,5,5,0,OLD,20247076,"귀멸의 칼날: 인연의 기적, 그리고 합동 강화 훈련으로",2024-02-14,23839600,0.9,-3440200,-12.6,5273046600,2363,-340,-12.6,463178,241,409
5,6,6,1,OLD,20247219,사운드 오브 프리덤,2024-02-21,27051700,1.1,13067100,93.4,520937000,2274,1065,88.1,46700,102,108
6,7,7,1,OLD,20231415,소풍,2024-02-07,13429500,0.5,3627561,37,2921185849,1552,384,32.9,326047,96,111
7,8,8,-2,OLD,20247437,브레드이발소: 셀럽 인 베이커리타운,2024-03-01,7935400,0.3,-13067460,-62.2,937011800,930,-1503,-61.8,108326,153,180
8,9,9,0,NEW,20236488,밥 말리: 원 러브,2024-03-13,9810000,0.4,9810000,100,9810000,922,922,100,922,2,3
9,10,10,0,OLD,20234730,추락의 해부,2024-01-31,5838033,0.2,75916,1.3,853902026,630,1,0.2,86968,56,59

In [2]:
from datetime import datetime, timedelta

start = "2021-08-01"
last = "2021-08-04"

# 시작일, 종료일 datetime으로 변환
start_date = datetime.strptime(start, "%Y-%m-%d")
last_date = datetime.strptime(last, "%Y-%m-%d")

# 시작일부터 종료일까지의 모든 날짜 출력
current_date = start_date
while current_date <= last_date:
    print(current_date.strftime("%Y%m%d"))
    current_date += timedelta(days=1)

20210801
20210802
20210803
20210804

In [2]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

def boxoffice_requests_start_to_end(start, end,key):
    # 시작일과 종료일 datetime으로 변환
    start_date = datetime.strptime(start, "%Y-%m-%d")
    end_date = datetime.strptime(end, "%Y-%m-%d")

    # 기본 URL
    url_base = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json'

    # append할 리스트 생성
    daily_boxoffice_data = []

    # 시작일, 종료일까지 호출
    current_date = start_date
    while current_date <= end_date:
        targetDt = current_date.strftime("%Y%m%d")
        url = f'{url_base}?key={key}&targetDt={targetDt}'
        response = requests.get(url)
        r_data = response.json()

        # 해당 날짜에 박스오피스 데이터가 있는 경우 > 추가
        if r_data['boxOfficeResult']['dailyBoxOfficeList']:
            df = pd.DataFrame(r_data['boxOfficeResult']['dailyBoxOfficeList'])
            # 박스오피스 기준 날짜를 컬럼에 추가 > 추후 파생변수 생성을 위함
            df['current_date'] = current_date.strftime("%Y-%m-%d")
            daily_boxoffice_data.append(df)

        # 다음 날짜로 이동
        current_date += timedelta(days=1)

    # 모든 데이터를 하나의 DataFrame으로 결합
    daily_boxoffice_df = pd.concat(daily_boxoffice_data, ignore_index=True)
    daily_boxoffice_df.to_csv('boxoffice_15_19.csv', index = False, encoding = 'utf-8-sig')
    
    
    return daily_boxoffice_df

- 20~23년도 데이터 크롤링

In [3]:
# 테스트
start = "2024-01-01"
end = "2024-02-31"
key = '835ee14ff09c53f948fd2cebdcd4a4b9'
boxoffice_requests_start_to_end(start, end,key)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,current_date
0,1,1,0,OLD,20137048,국제시장,2014-12-17,6129982500,40.5,2797599300,84,47219550096,751754,275212,57.8,6097431,941,4650,2015-01-01
1,2,2,1,OLD,20143642,테이큰 3,2015-01-01,2644551100,17.5,1640018100,163.3,3658460100,321653,177118,122.5,467280,614,2947,2015-01-01
2,3,3,-1,OLD,20149859,마다가스카의 펭귄,2014-12-31,1687516200,11.2,672528400,66.3,2736013000,212779,67641,46.6,361669,594,1846,2015-01-01
3,4,4,1,OLD,20141111,"님아, 그 강을 건너지 마오",2014-11-27,1479015600,9.8,698744500,89.6,31324845079,178941,64938,57,4025319,473,1979,2015-01-01
4,5,5,-1,OLD,20149265,기술자들,2014-12-24,1299883700,8.6,350703100,36.9,14952363848,160371,22538,16.4,1938454,464,1886,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18255,6,6,-1,OLD,20198374,신비아파트 극장판 하늘도깨비 대 요르문간드,2019-12-19,193986540,2.7,10118640,5.5,5299942440,26473,1453,5.8,672122,471,713,2019-12-31
18256,7,7,1,OLD,20192401,포드 V 페라리,2019-12-04,155205540,2.2,48285780,45.2,10612013680,18550,5728,44.7,1208407,204,373,2019-12-31
18257,8,8,3,OLD,20198430,나이브스 아웃,2019-12-04,117394600,1.6,29401780,33.4,5648860210,14139,3538,33.4,667411,158,302,2019-12-31
18258,9,9,0,OLD,20199981,눈의 여왕4,2019-12-24,78897060,1.1,2541060,3.3,1044574960,13399,2003,17.6,143853,304,347,2019-12-31
18259,10,10,-4,OLD,20192721,캣츠,2019-12-24,101775500,1.4,-50973480,-33.4,6093167690,13119,-5917,-31.1,728328,475,881,2019-12-31

In [4]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

def boxoffice_requests_start_to_end(start, end, key, itemPerPage="10", multiMovieYn=None, repNationCd=None, wideAreaCd=None, title="boxoffice"):
    # 시작일과 종료일 datetime으로 변환
    start_date = datetime.strptime(start, "%Y-%m-%d")
    end_date = datetime.strptime(end, "%Y-%m-%d")

    # 기본 URL
    url_base = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json'

    # append할 리스트 생성
    daily_boxoffice_data = []

    # 시작일, 종료일까지 호출
    current_date = start_date
    while current_date <= end_date:
        targetDt = current_date.strftime("%Y%m%d")
        url = f'{url_base}?key={key}&targetDt={targetDt}&itemPerPage={itemPerPage}'
        
        # multiMovieYn이나 repNationCd, wideAreaCd가 주어진 경우에만 추가
        if multiMovieYn:
            url += f'&multiMovieYn={multiMovieYn}'
        if repNationCd:
            url += f'&repNationCd={repNationCd}'
        if wideAreaCd:
            url += f'&wideAreaCd={wideAreaCd}'
        
        response = requests.get(url)
        r_data = response.json()

        # 해당 날짜에 박스오피스 데이터가 있는 경우 > 추가
        if r_data['boxOfficeResult']['dailyBoxOfficeList']:
            df = pd.DataFrame(r_data['boxOfficeResult']['dailyBoxOfficeList'])
            # 박스오피스 기준 날짜를 컬럼에 추가 > 추후 파생변수 생성을 위함
            df['current_date'] = current_date.strftime("%Y-%m-%d")
            daily_boxoffice_data.append(df)

        # 다음 날짜로 이동
        current_date += timedelta(days=1)

    # 모든 데이터를 하나의 DataFrame으로 결합
    daily_boxoffice_df = pd.concat(daily_boxoffice_data, ignore_index=True)
    daily_boxoffice_df.to_csv(f'../data/{title}.csv', index=False, encoding='utf-8-sig')
    
    return daily_boxoffice_df

In [6]:
import time
%time

start_date = "2015-01-01"
end_date = "2019-04-15"
key = "75b69dc273dc0e8cef4e9cfb4736799f"  # API 키 입력

# multiMovieYn과 repNationCd를 추가하여 호출
boxoffice_requests_start_to_end(start_date, end_date, key, multiMovieYn="Y", title = 'boxoffice_y_1519')

CPU times: user 2 µs, sys: 2 µs, total: 4 µs
Wall time: 10 µs

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,current_date
0,1,1,0,OLD,20141111,"님아, 그 강을 건너지 마오",2014-11-27,1479015600,68.2,698744500,89.6,31324845079,178941,64938,57,4025319,473,1979,2015-01-01
1,2,2,1,OLD,20130574,개를 훔치는 완벽한 방법,2014-12-31,299346400,13.8,118500500,65.5,608002300,37741,10759,39.9,80633,196,650,2015-01-01
2,3,3,-1,OLD,20143344,눈의 여왕 2: 트롤의 마법거울,2014-12-24,233190700,10.7,43780000,23.1,3856612400,30978,3375,12.2,529298,246,415,2015-01-01
3,4,4,0,OLD,20141614,더 테너 리리코 스핀토,2014-12-31,69620500,3.2,24180800,53.2,200984700,8446,1821,27.5,26316,169,367,2015-01-01
4,5,5,19,OLD,20143045,내일을 위한 시간,2015-01-01,26098700,1.2,25508700,4323.5,50568800,3035,2955,3693.8,6034,39,89,2015-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15655,6,6,-1,OLD,20198146,콜레트,2019-03-27,3148780,2.5,-4652350,-59.6,361718331,446,-518,-53.7,44696,41,55,2019-04-15
15656,7,7,9,OLD,20196601,항거:유관순 이야기,2019-02-27,2731000,2.1,2059200,306.5,9263645101,401,275,218.3,1153141,8,9,2019-04-15
15657,8,8,0,NEW,20198597,교회오빠,2019-05-16,2400000,1.9,2400000,100,7698000,400,400,100,1076,1,1,2019-04-15
15658,9,9,-3,OLD,20199009,나의 작은 시인에게,2019-04-04,2575900,2.0,-2924600,-53.2,73882730,353,-334,-48.6,9225,34,47,2019-04-15
15659,10,10,2,OLD,20181668,치에리와 체리,2018-09-27,1607000,1.3,-5000,-0.3,24028000,321,-1,-0.3,4812,1,1,2019-04-15

In [7]:
import time
%time

start_date = "2019-04-16"
end_date = "2023-12-31"
key = "b713496d3bb846528153ba2985029132"  # API 키 입력

# multiMovieYn과 repNationCd를 추가하여 호출
boxoffice_requests_start_to_end(start_date, end_date, key, multiMovieYn="Y", title = 'boxoffice_y_2023')

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 6.2 µs

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,current_date
0,1,1,0,OLD,20198104,바이스,2019-04-11,48050500,33.3,-4199500,-8,765708000,5891,-603,-9.3,89773,226,796,2019-04-16
1,2,2,0,OLD,20183773,장난스런 키스,2019-03-27,27458470,19.0,-4199880,-13.3,3244625048,3376,-455,-11.9,397755,266,475,2019-04-16
2,3,3,0,NEW,20188393,"다시, 봄",2019-04-17,18862000,13.1,18862000,100,30618000,2066,2066,100,3542,7,7,2019-04-16
3,4,4,-1,OLD,20197092,로망,2019-04-03,8323900,5.8,174670,2.1,525888460,1280,11,0.9,68751,82,112,2019-04-16
4,5,5,45,OLD,20197483,1919 유관순,2019-03-14,7880000,5.5,7860000,39300,451851910,935,932,31066.7,54579,3,5,2019-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17205,6,6,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,8512400,2.9,-242000,-2.8,167774653,910,3,0.3,17822,19,21,2023-12-31
17206,7,7,4,OLD,20228560,너와 나,2023-10-25,5859700,2.0,1500300,34.4,327598964,529,203,62.3,33619,21,24,2023-12-31
17207,8,8,16,OLD,20233178,블루 자이언트,2023-10-18,5994400,2.1,5632400,1555.9,1156359958,485,445,1112.5,119711,3,3,2023-12-31
17208,9,9,1,OLD,20235905,티처스 라운지,2023-12-27,4604039,1.6,1083944,30.8,25030681,455,87,23.6,2748,23,25,2023-12-31
17209,10,10,-3,OLD,20124722,피아니스트의 전설,2020-01-01,4155278,1.4,92461,2.3,413926513,436,33,8.2,51582,24,26,2023-12-31

In [8]:
import time
%time

start_date = "2024-01-01"
end_date = "2024-03-31"
key = "b713496d3bb846528153ba2985029132"  # API 키 입력

# multiMovieYn과 repNationCd를 추가하여 호출
boxoffice_requests_start_to_end(start_date, end_date, key, multiMovieYn="Y", title = 'boxoffice_y_24')

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 9.06 µs

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,current_date
0,1,1,0,OLD,20234114,괴물,2023-11-29,92381680,37.0,-3768994,-3.9,3884333955,8710,-524,-5.7,396137,187,263,2024-01-01
1,2,2,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,21.3,-707720,-1.3,372974290,6471,67,1,45294,207,248,2024-01-01
2,3,3,0,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,12.7,-15234118,-32.5,317887981,3001,-1659,-35.6,34196,200,270,2024-01-01
3,4,4,0,OLD,20233299,크레센도,2023-12-20,29203100,11.7,-2644200,-8.3,424298400,2534,-235,-8.5,39445,79,102,2024-01-01
4,5,5,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,4.4,285955,2.7,163391820,1052,-28,-2.6,17008,30,33,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,6,6,5,OLD,20176562,예수는 역사다,2017-07-13,6227000,5.2,3241000,108.5,1343820992,718,415,137,184611,10,10,2024-03-31
906,7,7,0,OLD,20247593,용감한 돌고래 벨루와 바닷속 친구들,2024-03-13,4100100,3.4,-79000,-1.9,172128080,479,-3,-0.6,23352,31,31,2024-03-31
907,8,8,-2,OLD,19869057,영웅본색,1987-05-23,3624151,3.0,-307700,-7.8,146661163,472,-46,-8.9,21384,50,57,2024-03-31
908,9,9,-1,OLD,20231459,탐정 말로,2024-03-21,2627600,2.2,-890000,-25.3,137411500,355,-88,-19.9,18785,39,51,2024-03-31
909,10,10,7,OLD,20231415,소풍,2024-02-07,2521900,2.1,1393722,123.5,3052567404,291,156,115.6,341747,14,14,2024-03-31